.row{
    padding-top: 3%;
    padding-left: 2%;
    color: white;
    background: linear-gradient(to right, #00010a, #00010a, #00010a, #00010a, #00010a, #00010a, #2a025e, #460286);
}
h1, h3{
    display: inline;
}
p{
    margin-right: 400px;
}