<div>


<a href="https://www.facebook.com/EliasYamilAraya"><img src="../../../assets/fbb.png" id="Facebook"></a>
<a href="https://www.linkedin.com/in/elias-yamil-araya-896265174/"><img src="../../../assets/ln.png" id="Linkedin"></a>
<a href="https://twitter.com/_EliasYamil"><img src="../../../assets/tw.png" id="Twitter"></a>
<a href="https://www.instagram.com/eliasyamilaraya/"><img src="../../../assets/ig.png" id="Instagram"></a>
<a href="https://github.com/EliasYamil"><img src="../../../assets/gh.png" id="Github"></a>
<button type="button" class="btn btn-primary" (click)="login()" *ngIf="!isLogged">Ingreso</button>
<button type="button" class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>


</div> 